

.navbar {
    display: flex;
        background-color: #f9f9f9;
        border-bottom: 1px solid #ccc;
    }

    
    .logo-image {
        margin-right: 10px;
    }
    


.kanban-board {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.column {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    background-color: #f9f9f9;
}

.column h2 {
    margin-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 8px;
}

.add-task-button {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
}

.title-edit-icon {
    margin-left: 50px; 
}

.details-edit-icon {
    margin-left: 50px; 
}


